
// colors
$dark-grey: #333333;
$light-grey: #f7f7f7;
$grey:#666;
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #364051;
$purple: #8357c5;
$blue:  #3c4251;
$light_blue: #464b5e;
$button_blue: #618599;
$button_white: #ffffff;


$font-size-large:1.8rem;
$font-size-small:1.4rem;
//Spacing:
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

